p {
  /* WARNA */
  color: rgb(255, 238, 238);                  /* warna teks */
  background-color: rgb(135, 135, 85);    /* warna background */

  /* TEKS */
  font-size: 16px;             /* ukuran teks */
  font-weight: bold;           /* tebal teks */
  text-align: center;          /* rata tengah */

  /* JARAK */
  margin: 10px;                /* jarak luar elemen */
  padding: 10px;               /* jarak dalam elemen */
}
nav {
  color: #8B4513;
}
/* Ubah warna background setiap section */
#menu {
  background-color: #fef3e2;
  padding: 20px;
}

#rekomendasi {
  background-color: #e8f5e9;
  padding: 20px;
}

/* Ubah tampilan judul */
h2 {
  color: #8B4513;
  font-size: 28px;
  text-align: center;
}